/target
/lib
/classes
/checkouts
pom.xml
dev-config.edn
test-config.edn
*.jar
*.class
/.lein-*
profiles.clj
/.env
/.calva
.nrepl-port
/.shadow-cljs
package.json
shadow-cljs.edn
/node_modules
/log
package-lock.json


